footer {
    background-color: #2b2b2b;
    color: rgb(245, 245, 245);
    padding: 40px 20px;
    width: auto;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links {
    flex: 1;
    margin: 0 10px;
    min-width: 180px;
}

.footer-links h4 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
}

.footer-links ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
}

.footer-links ul li {
    margin-bottom: 8px;
    text-align: left;
}

.footer-links a {
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-size: 12px;
    display: block;
}

.footer-links a:hover {
    text-decoration: underline;
}
