.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: green;
}
#order-layout {
  padding: 0 30px;
  margin: 0 auto;
  margin-top: 200px;
  max-width: 1200px;
}

#order-table {
  width: 100%;
  border-collapse: collapse;
}
.underline {
  border-bottom: 2px solid black;
}
.order-cell {
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
}

@media (max-width: 1100px) {
  .order-cell {
    font-size: 14px;
    padding: 5px 0;
  }
}

@media (max-width: 960px) {
  .order-cell {
    font-size: 12px;
  }
}
